<h1>
    <a [routerLink]="['/']">{{ title | capitalize}}</a>
</h1>
<ul>
    <li>All Boards</li>
    <li *ngFor="let item of links;let i = index;" [routerLink]="['/task',i+1]" routerLinkActive="active"
       
    (click)="emitTitle(i)">{{item}}</li>
    <li (click)="openModal()"><span>&plus;</span> Create new board</li>
</ul>

<div class="toggle-container">
    <div class="bg-secondary p-2 flex justify-center">
        <i class="fa fa-sun-o"></i>
        <div class="w-8 flex rounded-full cursor-pointer mx-3" (click)="switchToggle()"
            [ngClass]="controlSwitch ? 'justify-end bg-btn' : 'justify-start bg-gray-600'">
            <div class="p-2 rounded-full bg-white w-fit scale-75">
            </div>
        </div>
        <i class="fa fa-moon-o"></i>
    </div>
    <p class="text-center">
        &copy; {{date}} Kanban
    </p>
</div>