<form class="modal" [formGroup]="taskForm" (ngSubmit)="handleSubmit()">
    <h1 class="font-bold text-white">Add New Task</h1>
    <div class="flex flex-col mt-4">
        <label class="mb-2 text-xs font-bold">Title</label>
        <input type="text" name="title" id="" placeholder="e.g. Take coffee break" class="rounded-sm border-solid border-gray-600 bg-transparent
        focus:outline-none focus:shadow-none py-1 px-2 text-sm placeholder:text-gray-600" formControlName="title"
            style="border-width: 0.5px;">
        <small class="required"
            *ngIf="taskForm.get('title')?.hasError('required') && taskForm.get('title')?.touched">This field is
            required</small>
    </div>

    <div class="flex flex-col mt-4">
        <label class="mb-2 text-xs font-bold">Description</label>
        <textarea name="" id="" cols="30" rows="4"
            placeholder="e.g. It's always good to take a break. This 15 minute break will recharge the batteries a little"
            class="rounded-sm border-solid border-gray-600 bg-transparent text-area
        focus:outline-none focus:shadow-none py-1 px-2 text-sm placeholder:text-gray-600"
            formControlName="description"></textarea>
    </div>

    <div class="flex flex-col mt-4">
        <label class="mb-2 text-xs font-bold">Status</label>
        <select name="status" formControlName="status" id="" class="rounded-sm border-solid border-gray-600 bg-transparent
         py-1 px-2 text-sm" style="border-width: 0.5px;">
            <option value="1" class="cursor-pointer">Todo</option>
            <option value="2" class="cursor-pointer">Doing</option>
            <option value="3" class="cursor-pointer">Done</option>
        </select>
        <small class="required"
            *ngIf="taskForm.get('status')?.hasError('required') && taskForm.get('status')?.touched">This field is
            required</small>
    </div>
    <div class="flex flex-col mt-4">
        <button type="submit" class="rounded-full bg-btn text-white py-1" [disabled]="!taskForm.valid">Create
            Task</button>
    </div>

</form>