//dimensions
$firstColumn: 18%;
$firstRow: 10vh;

.principal-box {
    @apply grid h-full;
    grid-template-columns: $firstColumn calc(100% - $firstColumn);
    grid-template-rows: $firstRow calc(100% - $firstRow);
    @media screen and (max-width: 768px) {
        @apply flex flex-col;
    }
    app-aside {
        @apply h-screen bg-primary border-r border-zinc-700 border-solid border-y-0 shadow-lg row-span-2
        flex flex-col;
        @media screen and (max-width: 768px) {
            @apply order-3 absolute z-20 transition-transform duration-300 ease-in-out;
        }
    }

    app-navbar {
        @apply bg-primary border-b border-zinc-700 border-solid flex items-center justify-between px-5;
        @media screen and (max-width: 768px) {
            @apply h-navbar fixed top-0 w-full;
        }
    }

    app-section {
        /* width */
        &::-webkit-scrollbar {
            width: 8px;
            @apply rounded-full;
        }

        /* Track */
        &::-webkit-scrollbar-track {
            @apply rounded-full bg-primary;
        }

        /* Handle */
        &::-webkit-scrollbar-thumb {
            @apply bg-btn rounded-full;
        }
        @media screen and (max-width: 768px) {
            @apply grow;
            padding-top: $firstRow;
        }
    }
}

.btn-add {
    @apply bg-btn rounded-full sm:text-xs py-2 px-3 transition-colors duration-75 active:scale-90 duration-300 transition-transform
    cursor-pointer;
    @media screen and (max-width: 768px) {
        @apply fixed bottom-0 right-0 mr-5 mb-8 py-3 px-4;
    }
}

.custom-transition {
    transition: all 0.3s 200ms ease-in-out;
}
.custom-transition-revert {
    transition: all 0.3s ease-in-out;
}

.base-modal {
    background-color: rgba(0, 0, 0, 0.6);
    @apply absolute top-0 left-0 h-screen w-full flex items-center justify-center z-50 transition-opacity duration-200 px-4;
}

.modal{
    @apply w-full;
    @media screen and (min-width:768px) {
        @apply w-1/4;
    }
}