//dimensions
$firstColumn:18%;
$firstRow   :10%;

.principal-box {
    @apply grid;
    grid-template-columns: $firstColumn calc(100% - $firstColumn);
    grid-template-rows   : $firstRow calc(100% - $firstRow);

    app-aside {
        @apply h-screen bg-primary border-r border-zinc-700 border-solid border-y-0 shadow-lg row-span-2;
    }

    app-navbar {
        @apply bg-primary border-b border-zinc-700 border-solid flex items-center justify-between px-5;
    }

    app-section {}

}