<div class="principal-box overflow-hidden">
    <app-aside (navbarBrand)="getTitle($event)" (hideAside)="hideAside($event)"
        [ngClass]="!toggleDrawer && innerWidth <= maxWidth? '-translate-x-full hidden' : 'translate-x-0'"
        class="-translate-x-full"></app-aside>
    <app-navbar>
        <h1 class="text-2xl font-bold">{{navBarTitle || 'All Boards' | capitalize}}</h1>
        <div class="inline-options">
            <button class="btn-add" (click)="openModal()"><span class="pointer-events-none"><span
                        class="mr-1">&plus;</span>{{'add new task'|capitalize}}</span></button>
            <button class="ml-3" [ngClass]="{'pointer-events-none': toggleDrawer}"
                (click)="handleShowDrawer($event)">M</button>
        </div>
    </app-navbar>
    <app-section class="h-full"
        [ngClass]="{'overflow-hidden': toggleDrawer || modalOpened, 'overflow-scroll':!toggleDrawer || !modalOpened}">
        <router-outlet></router-outlet>
    </app-section>
    <div class="absolute top-0 left-0 h-screen w-full pointer-events-none bg-black  transition-opacity duration-200 ease-in-out flex items-center justify-center"
        [ngClass]="!toggleDrawer? 'opacity-0' :  'opacity-50'">
        <app-layout-modal class="custom-transition"
            [ngClass]="{'scale-0': !modalOpened,'scale-100': modalOpened}"></app-layout-modal>
    </div>
    <div class="absolute top-0 left-0 h-screen w-full pointer-events-none bg-black flex items-center justify-center transition-opacity ease-in-out"
        [ngClass]="!modalOpened? 'opacity-0 duration-300' :  'opacity-50'"
        [ngStyle]="{'transition-delay:300': !modalOpened}">
        <app-layout-modal
            [ngClass]="{'scale-0 custom-transition-revert': !modalOpened,'scale-100 custom-transition': modalOpened}"></app-layout-modal>
    </div>
</div>